<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="my resume">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="harsh singh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <marquee>@harsh-singh</marquee>
    <h1>About Me</h1>
    <hr>
    <a href="project.html">My Projects</a>
    <a href="index.html">About Me</a>
    <a href="contactme.html">Contact Me</a>
    <hr />
    <div>
    <div>
        <img src="img.jpeg" alt="Cool kid">
    </div>
    <h2>Education</h2>
    <ul>
        <li>Sunbeam Varuna School</li>
        <li>IIT ISM Dhanbad</li>
    </ul>
    </div>
    <div>
    <h2>Address</h2>
    <p>Lakshmi Nagar colony, <strong>tarna</strong><br>Shivpur, Varanasi<br><i>Uttarpradesh</i></p>
    </div>
</body>
</html>