<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="my resume">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="harsh singh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <marquee>@harsh-singh</marquee>
    <div>
      <h1>My Projects</h1>
      <hr />
      <a href="project.html">My Projects</a>
      <a href="index.html">About Me</a>
      <a href="contactme.html">Contact Me</a>
      <hr />
    </div>
    <div>
      <table style="display: flex; justify-content: center">
        <tr>
          <th>My First website</th>
          <th>My Second website</th>
          <th>My Third website</th>
        </tr>
        <tr>
          <td><a href="https://www.concetto.in/#/">My 1st website</a></td>
          <td><a href="https://www.concetto.in/#/">My 2nd website</a></td>
          <td><a href="https://www.concetto.in/#/">My 3rd website</a></td>
        </tr>
      </table>
    </div>
  </body>
</html>
