<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="my resume" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="harsh singh" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/stylesheets/navbar.css">
    <link rel="stylesheet" href="../static/stylesheets/main-body.css">
    <link rel="stylesheet" href="../static/stylesheets/projects.css">
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="left-bar">
          <img class="Nav-image" src="../static/assets/img.jpeg" alt="">
          <h1 class="name">Portfolio</h1>
      </div>
      <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="project.html">Projects</a></li>
          <li><a href="contactme.html">Contact</a></li>
      </ul>
  </nav>
    <div class="main-body" style="margin: 10%; margin-left: 23%;">
      <table>
        <tr>
          <th>My First website</th>
          <th>My Second website</th>
          <th>My Third website</th>
        </tr>
        <tr>
          <td><a href="https://www.concetto.in/#/">My 1st website</a></td>
          <td><a href="https://www.concetto.in/#/">My 2nd website</a></td>
          <td><a href="https://www.concetto.in/#/">My 3rd website</a></td>
        </tr>
      </table>
      <marquee behavior="alternate" direction="">Made with ❤️ and 🚬 by Barman and Singh</marquee>
    </div>
  </body>
</html>
